.btn {
  padding: 3px 10px 5px;
  border: 1px solid rgba(0,0,0, .8);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;

  &--delete {
    border-color: rgb(187, 75, 75);
    color: white;
    background-color: rgb(255, 115, 115);
  }

  &[disabled] {
    cursor: default;
    border-color: rgba(0,0,0, .2);
  }
}