.ColumnLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 25%;

  &-heading {
    margin-bottom: 20px;
  }

  &__backgrounds {
    display: flex;
    flex-direction: column;
    min-height: 445px;
    margin-bottom: 20px;

    .backgrounds-loader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto 0;

      span {
        display: block;
        width: 50%;
        margin-bottom: 10px;
        text-align: center;
        line-height: 1.3;
        color: #b9b9b9;
      }

      svg {
        height: 30px;
        width: 30px;
      }
    }

    .background-thumb {
      height: 100px;
      width: 160px;
      border-radius: 2px;
      overflow: hidden;
      cursor: pointer;

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}