.ColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40%;
  margin: 0 10px;

  &-heading {
    position: relative;
    top: -2px;
    margin-bottom: auto;
  }
}