.LogoPicker {
  margin-bottom: 10px;

  &__heading {
    margin-bottom: 20px;
  }

  &__thumbs {
    display: flex;

    .logotype-thumb {
      height: 100px;
      width: 100px;
      cursor: pointer;
    }
  }
}